<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script type="text/javascript" src="supported_devices.json"></script> -->
    <script type="text/javascript" src="device.js"></script>
    <link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="myStyle.css">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div>
        <a class="button" ng-show="showAdd" ng-click="showAdd=false; showDiv=true ">
        <span>ADD</span>
    </a>
        <div ng-show="showDiv">
            <input class="addclas" type="text" placeholder="Branding" ng-model="newBranding">
            <input class="addclas" type="text" placeholder="Device" ng-model="newDev">
            <input class="addclas" type="text" placeholder="Model" ng-model="newModel">
            <input class="addclas" type="text" placeholder="MarketingName" ng-model="newMar">
            <a class="button" ng-click="addItem(); showDiv=false; showAdd=true "><span>PUSH</span></a>
        </div>
        </br>
        <table class="table" ng-table="tableParams" show-filter="true">
            <tr ng-repeat="x in $data">
                <td title="'Branding'" filter="{ Branding: 'text'}" sortable="'Branding'">
                    {{ x.Branding }}
                </td>
                <td title="'Device'" filter="{ Device: 'text'}" sortable="'Device'">
                    {{ x.Device }}
                </td>
                <td title="'Model'" filter="{ Model: 'text'}" sortable="'Model'">
                    {{ x.Model }}
                </td>
                <td title="'MarketingName'" filter="{ MarketingName: 'text'}" sortable="'MarketingName'">
                    {{ x.MarketingName }}
                </td>
                <td>
                    <button style="color: green" ng-click="open('sm', x)">Edit
                    </button>
                </td>
                <td>
                    <button style="color: red" ng-click="deleteItem(x)">Remove
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-demo">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Edit and press OK</h3>
            </div>
            <div class="modal-body" id="modal-body">
                Branding :
                <input class="editclas" type="text" placeholder=Branding ng-model="editBranding">
                </br>
                Device :
                <input class="editclas" type="text" placeholder=Device ng-model="editDev">
                </br>
                Model :
                <input class="editclas" type="text" placeholder=Model ng-model="editModel">
                </br>
                MarketingName :
                <input class="editclas" type="text" placeholder=MarketingName ng-model="editMar">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
       <!--  <button type="button" class="btn btn-default" ng-click="open('sm')">
            Open me!
        </button> -->
    </div>
</body>

</html>